<mat-list>
    <mat-list-item routerLink="/admin/order-list" routerLinkActive="active">
        Order
    </mat-list-item>
    <mat-list-item>Reserve Table</mat-list-item>
    <mat-list-item routerLink="/admin/customer-list" routerLinkActive="active">
        Customer List
    </mat-list-item>
    <mat-list-item routerLink="/admin/employee-list" routerLinkActive="active">
        Employee List
    </mat-list-item>
    <mat-list-item routerLink="/admin/food-list" routerLinkActive="active">
        Food
    </mat-list-item>
    <mat-list-item>Ingredient List</mat-list-item>
    <mat-list-item>Statistics</mat-list-item>
</mat-list>