<section>
    <div class="cart-container">
        <div class="cart-infomation">
            <div class="order-1">
                <h1>Ordered History</h1>
                <mat-list role="list">
                    <mat-list-item role="listitem" class=" list-item-header">
                        <div class="table">Table</div>
                        <div class="type-party">Type Party</div>
                        <div class="received-date">Received Date</div>
                        <div class="phone">Phone</div>
                        <div class="address">Address</div>
                        <div class="status">Status</div>
                        <div class="action">Action</div>
                    </mat-list-item>
                    <mat-list-item role="listitem" *ngFor="let orderedItem of orderedList.rows; let i = index">
                        <div class="table">{{orderedItem.table != undefined ? orderedItem.table.name: ''}}</div>
                        <div class="type-party">{{orderedItem.type_party != undefined ? orderedItem.type_party.name :
                            ''}}</div>
                        <div class="received-date">
                            {{renderDate(orderedItem.received_date)}}
                            <br>
                            {{renderTime(orderedItem.received_date)}}
                        </div>
                        <div class="phone">{{orderedItem.customer_phone}}</div>
                        <div class="address">{{orderedItem.customer_address}}</div>
                        <div class="status">
                            {{renderStatus(orderedItem.status)}}
                        </div>
                        <div class="action">
                            <mat-icon *ngIf="orderedItem.status == 0" (click)="cancelTicket(orderedItem.id)">delete
                            </mat-icon>
                        </div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>

    </div>
</section>