<div class="container">
    <div class="content">
        <h1>User Infomation</h1>
        <div class="infomation-body">
            <div>
                <div>
                    ID
                </div>
                <div>
                    {{userDetail?.id}}
                </div>
            </div>
            <div>
                <div>
                    Name
                </div>
                <div>
                    {{userDetail?.name}}
                </div>
            </div>
            <div>
                <div>
                    Username
                </div>
                <div>
                    {{userDetail?.username}}
                </div>
            </div>
            <div>
                <div>
                    Birthday
                </div>
                <div>
                    {{userDetail?.birthday}}
                </div>
            </div>
            <div>
                <div>
                    Status
                </div>
                <div>
                    {{userDetail?.status}}
                </div>
            </div>
        </div>
    </div>
</div>